<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="../img/a.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="X-Frame-Options" content="deny">
    <title>DoodlePedia</title>
    <meta name="theme-color" content="#343A40">
    <meta name="google-site-verification" content="QrhMD2jf46ZiIAVGVGzRlDh_4mbH5x38aqfDbE17Mck" />
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#343A40">
    <!-- iOS -->
    <meta name="apple-mobile-web-app-status-bar-style" content="#343A40">
    <meta name="author" content="Ambuj">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
</head>

