<% include partials/header %>

    <div class="container" id="three">
    <form action="/result" method="GET">
    <div class="form-group">
        <input  type="text" name="user" placeholder="Enter YouTuber's Name..." autofocus>
    </div>
    <div class="form-group">
        <input type="submit" class="form-control btn btn-block btn-info" value="Search">
    </div>
    <div>
        <p style="text-align: center;color: grey;">Made with &#9829; by Ambuj</p>
    </div>

    </form>
</div>
<% include partials/footer %>