<% include partials/header %>
<nav style="position: fixed;top: 0;right: 0;left: 0;z-index: 200;" class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" style="text-decoration: none;color: #45b288;" href="/">randomSearch</a>
        </div>
</nav>
    <div class="container" id="three">
    <form action="/result" method="GET">
    <div class="">
        <input  type="text" name="query" placeholder="Enter YouTuber's Name..." autofocus>
    </div>
    <div class="">
        <input type="submit" class="form-control btn btn-block btn-info" value="Search">
    </div>
    <div>
        <p style="text-align: center;color: grey;">Made with &#9829; by Ambuj</p>
    </div>

    </form>
</div>
<% include partials/footer %>