<% include partials/header %>
<body style="background-image: url('img/bca.jpg');">
<nav style="position: fixed;top: 0;right: 0;left: 0;z-index: 200;" class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" style="text-decoration: none;color: #45b288;" href="/">SlamInn</a>
        </div>
</nav>
<!-- <div style=""></div>
<div id="five">
    <form action="/trend" method="GET">
    <input type="submit" class="btn btn-danger" value="What's Trending">
    </form>
</div> -->
    <div class="container" id="three">
        <div class="form-group">
            <form action="/trend" method="GET">
                <input type="submit" class="btn btn-danger" value="What's Trending">
            </form>
        </div>
    <form action="/result" method="GET">
    <div class="">
        <input type="text" maxlength="25" name="query" placeholder="Search videos..." autofocus>
    </div>
    <div class="">
        <input type="submit" class="form-control btn btn-block btn-info" value="Search">
    </div>
    <div>
        <p style="text-align: center;color: grey;">Made with &#9829; by Ambuj</p>
    </div>

    </form>
</div>
<% include partials/footer %>
