<% include partials/header %>
<nav style="position: fixed;top: 0;right: 0;left: 0;z-index: 200;" class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" style="text-decoration: none;color: #45b288;" href="/">randomSearch</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-search"></i>
        </button>
        <div class="collapse navbar-collapse container" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto"></ul>
            <form class="form-inline my-2 my-lg-0" action="/result" method="GET">
                <input id="four" maxlength="25" style="padding: 5px 20px;margin: 3px 0;box-sizing: border-box;border: none;background-color: #3CBC8D;color: white;" type="text" name="query" class="form-control mr-sm-2" placeholder="Enter YouTuber's Name...">
                <input id="five" class="form-control btn btn-info my-2 my-sm-0" type="submit" value="Search">
            </form>
        </div>
</nav>
    <div style="position: relative;background-color:#1c262f;left: 0;right: 0;padding-top: 2%;" class="container-fluid">
        <div id="one"></div>
 <div class="row">
    <% search["items"].forEach(function(search){ %>
       <% var embed = 'https://www.youtube.com/embed/'+search.id.videoId+'?modestbranding=1&amp;rel=0'; %>
       <div class="col-md-6">
           <div class="container">
            <iframe class="embed-responsive-item" src="<%= embed %>" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            <div class="caption">
            <p id="two" style="color: white;"><%=search["snippet"]["title"] %></p>

            </div>   
        </div>
       </div>
    <% }); %>
 </div>
</div>

<% include partials/footer %>
