@viewport {
    width: device-width;
    zoom: 1.0;
}
@-ms-viewport {
    width: device-width;
}
body{
        background-image: url('img/bca.jpg');
    }
    
    input::placeholder{
        color: white;
    }
@media screen and (max-width: 320px){
    iframe,video {
        width: 83vw;
        height: 48vw;
    }
    #one{
        margin-top: 25%;
    }
    #two{
    font-size: 10px;
    }
    #three{
        margin: 30% auto;
        width: 78%;
    }
    #four{
        width: 100%;
        padding: 8px 20px;
    }
    
    input[type=text]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    background-color: #3CBC8D;
    color: white;
    }
}
@media screen and (min-width: 321px) and (max-width: 425px){
    iframe,video {
    width: 83vw;
    height: 48vw;
    }
    #one{
        margin-top: 20%;
    }
    #two{
    font-size: 10px;
}
    #three{
        margin: 28% auto;
        width: 80%;
    }
    #four{
        width: 100%;
        padding: 8px 20px;
    }
    input[type=text]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    background-color: #3CBC8D;
    color: white;
    }
}
@media screen and (min-width: 426px) and (max-width: 480px){
    iframe,video {
    width: 83vw;
    height: 48vw;
    }
    #one{
        margin-top: 15%;
    }
    #two{
    font-size: 10px;
}
    #three{
        margin: 16% auto;
        width: 78%;
    }
    #four{
        width: 100%;
        padding: 8px 20px;
    }
    input[type=text]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    background-color: #3CBC8D;
    color: white;
}
}
@media screen and (min-width: 481px) and (max-width: 768px){
    iframe,video {
    width: 43vw;
    height: 24vw;
    }
    #one{
        margin-top: 10%;
    }
    #two{
    font-size: 10px;
}
    #three{
        margin: 30% auto;
        width: 80%;
    }
    #four{
        width: 80%;
        padding: 8px 20px;
    }
    
    input[type=text]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    background-color: #3CBC8D;
    color: white;
}
}
@media screen and (min-width: 769px){
    #one{
        margin-top: 10%;
    }
    #two{
        font-size: 1.2rem;
    }
    #three{
        margin: 12% auto;
        width: 50%;
    }
    #four{
        width: 70%;
        padding: 5px 20px;
    }
    iframe,video {
        width: 43vw;
        height: 24vw;
    }
    input[type=text]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    background-color: #3CBC8D;
    color: white;
    }
}
hr.style-two {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(240, 242, 245, 0), rgba(241, 242, 243, 0.75), rgba(241, 242, 243, 0));
}
